/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* AuthPage background styling */
.auth-page {
  background: linear-gradient(135deg, #141e30, #243b55); /* Dark gradient background for AuthPage */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f0f0f0;
  padding: 20px;
}

/* Center the auth form */
.auth-form {
  width: 400px;
  background: white; /* White background for the form */
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group > label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-group > input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  color: #333;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.form-group > input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #4e9f3d;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Button styling */
.auth-button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #4e9f3d, #11998e);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.auth-button:hover {
  background: linear-gradient(135deg, #11998e, #4e9f3d);
  box-shadow: 0 8px 25px rgba(18, 157, 107, 0.5);
}


.log-sign {
  font-size: 14px;
  color: #4e9f3d;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.log-sign:hover {
  color: #11998e;
}

.have-an-acc {
  color: black;
}

.auth-footer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.error {
  color: black;
}

/* Responsive design */
@media (max-width: 480px) {
  .auth-form {
      width: 90%;
      padding: 20px;
  }
}


a {
  text-decoration: none;
  color: #000;
}

@font-face {
  font-family: "Robot";
  src: url(Roboto-Regular.ttf);
}

body {
  font-family: "Robot";

}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  gap: 3rem;
  border-bottom: 1px solid rgb(236, 228, 228);
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: white;
  height: 66px;
}

.none {
  display: none;
}

.hamburger {
  width: 25px;
  height: 25px;
}

.rightmrg {
  margin-right: auto;
}

.title {
  height: 20px;
  cursor: pointer;
}

.hero {
  display: none;
}

.signup {
  background-color: rgb(0, 82, 255);
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  height: 40px;
  width: 90px;
}

.blue {
  color: rgb(0, 82, 255);
  font-weight: 600;
}

.jumpstart {
  display: flex;
  align-items: center;
  align-self: start;
  gap: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.underline:hover {
  text-decoration: underline;
}

.homesec {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  padding-left: 1rem;
  padding-right: 1rem;
}

.homesec5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  text-align: start;
}

.hero-desc {
  font-size: 20px;
}

.hero-form {
  margin-top: 2rem;
  width: 100%;
}

label {
  font-size: 14px;
  font-weight: 600;
}

.hero-input {
  z-index: 0;
  border-color: rgba(97, 91, 110, 0.2);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 20px;
  font-size: 18px;
  width: 100%;
  outline: none;
}

.hero-div-input {
  position: relative;
  width: 100%;
}

.hero-input:focus {
  border: 2px black solid;
  outline: none;
}

.button {
  margin-top: 1rem;
  width: 100%;
  height: 55px;
  margin-right: 1rem;
  background-color: rgb(0, 82, 255);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.home-section2 {
  background-color: rgb(240, 240, 255);
  display: flex;
  gap: 1.5rem;
}

.second-title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}

.second-desc {
  font-size: 16px;
  line-height: 24px;
}

.small-btn {
  border-radius: 2rem;
  border: none;
  padding: 0.5rem 1rem;
  width: auto;
  background-color: rgb(245, 245, 245);
  font-weight: 600;
  cursor: pointer;
}

.small-btn:hover {
  opacity: 0.8;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.one-crypto-img {
  width: 25px;
}

.btn-active {
  background-color: rgb(44, 43, 53);
  color: white;
}

.btn-active:hover {
  opacity: 0.8;
}

.trade-gainers {
  display: flex;
  gap: 1rem;
  align-self: start;
  margin-bottom: 1rem;
}

.div-gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cryptos-subgrid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.one-crypto {
  cursor: pointer;
  height: 155px;
  width: 160px;
  border-radius: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1), -2px -4px 8px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(91, 97, 110, 0.2);
}

.one-crypto-subgrid {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  gap: 1rem;
  color: rgb(34, 139, 34);
}

.coin-name-grid {
  margin-top: 0.5rem;
  font-weight: 600;
}

.price-grid {
  color: rgb(91, 97, 110);
}

.one-crypto-percentage {
  font-weight: 600;
  font-size: 18px;
}

.control-money {
  text-align:left;
}

.circle-coins {
  margin-top: 2rem;
  height: 150px;
  object-fit: cover;
}

.home-section4 {
  background-color: rgb(30, 32, 37);
  color: white;
  padding: 0;
}

.padding {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.white-btn {
  background-color: white;
  color: black;
}

.banner {
  height: 186px;
  width: 100%;
  object-fit: cover;
}

.title-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title-flex h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 0;
}

.home-section6 {
  padding-top: 0;
  padding-bottom: 2rem;
}

.home-section5 {
  padding-bottom: 0;
}

.home-section9 {
  background-color: rgb(0, 82, 255);
  color: white;
  display: flex;
  align-items: start;
  gap: 1rem;
  padding-bottom: 2rem;
}

.number-flex {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: start;
  gap: 2rem;
}

.numbers-flex {
  border-left: 1px solid lightgrey;
  padding-left: 0.5rem;
}

.number-title {
  font-size: 64px;
  
}

.number-caption {
  line-height: 13px;
  font-weight: 700;
}

.one-container {
  min-height: 300px;
  width: auto;
  border: 1px solid rgba(97, 91, 110, 0.2);
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 24px;
}

.praise-img {
  height: 80px;
  width: 80px;
  margin-bottom: 1.5rem;
}

.praise-containers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem;
}

.praise-title {
  font-weight: 500;
  font-size: 2rem;
  line-height: normal;
  padding-bottom: 1rem;
}

.praise-desc {
  color: gray;
}

.home-section11 {
  padding-top: 0;
  padding-bottom: 2rem;
  background-color: rgb(238, 240, 243);
}

div .hero-title {
  line-height: 28px;
  font-size: 28px;
}

.hero-last-desc {
  color: rgb(91, 97, 110);
  font-size: 20px;
  line-height: 28px;
  text-align: start;
}

.basic {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  gap: 1rem;
}

.basics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.basic-img {
  width: 100%;
  height: 187px;
  border-radius: 24px;
  object-fit: cover;
  margin: 1rem 0;
}

.basic-title {
  font-size: 20px;
  line-height: 28px;
}
  
.basic-desc {
  font-size: 16px;
  line-height: 24px;
  color: rgb(91, 97, 110);
}

.tools {
  width: 100%;
}

.praise-mobile1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.search-title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%; /* Width of the search bar */
  background-color: #f4f4f4;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  transition: all 0.3s ease;
}

.search-icon {
  font-size: 18px;
  color: #007bff; 
  margin-right: 10px;
  transition: color 0.3s ease;
}

.search-input {
  width: 100%;
  padding: 12px 10px;
  border: none;
  outline: none; 
  font-size: 16px;
  background-color: transparent; 
}

.search-box:focus-within {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  border: 1px solid #007bff; 
}

.search-box:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.search-container {
  background-color: white;
}

.crypto-sec2 {
  margin: 1.5rem;
}

.crypto-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: black;
}

.crypto-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.crypto-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: none;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
  background-color: #fff;
  width: 100%;
  justify-content: space-between;
  z-index: 5;
  cursor: pointer;
}

/* Crypto Names Section */
.crypto-names-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.crypto-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.crypto-name-flex {
  display: flex;
  flex-direction: column;
}

.crypto-name {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.crypto-short-name {
  font-size: 0.9rem;
  color: #888;
}

.search-results {
  margin-top: 10px;
}

.coin-result {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.coin-icon {
  margin-right: 10px;
}

/* Crypto Details Section */
.crypto-price {
    font-size: 1rem;
    color: #000;
    text-align: left;
}
.crypto-change {
  display: none;
  font-size: 0.9rem;
  color: #ff4757;
}

.crypto-24hvolume {
  font-size: 0.9rem;
  color: #6c757d;
}

/* Style for the custom tooltip */
.custom-tooltip {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 150px;
  position: absolute;
  bottom: 100%;
  pointer-events: none; /* Prevent the tooltip from blocking interactions */
  z-index: 1000;
}

/* Style for the value section of the tooltip */
.custom-tooltip .tooltip-value {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for the time section of the tooltip */
.custom-tooltip .tooltip-time {
  font-size: 12px;
  color: #ccc;
}

/* Optional: Arrow pointing to the sparkline */
.custom-tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}

.negative-arrow {
  color: red;
}

.positive-arrow {
  color: green;
}

.crypto-change {
  color: green;
}

.crypto-change-negative {
  display: none;
  color: red;
  font-size: 0.9rem;
}

.crypto-header {
  font-weight: 600;
  margin-left: 1rem;
}

.crypto-header div {
  color: #000;
}

.coin-dropdown-wrapper {
  position: absolute;
  left: 0;
  z-index: 600;
  max-height: 400px;
  width: 100%;
  top: 4.5rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(91, 97, 110, 0.2);
  background-color: white;
  border-radius: 1rem; 
  overflow: hidden; /* Ensure the border-radius is respected */
}

.coin-dropdown {
  max-height: 400px;
  overflow-y: auto; /* Scroll only vertically within */
}

.coin-dropdown::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.coin-dropdown::-webkit-scrollbar-track {
  background-color: white; /* Matches the container background */
  border-radius: 1rem; /* Applies rounded corners to the track */
}

.coin-dropdown::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 1rem;
}

.searched-coin {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.searched-coin:hover {
  background-color: rgb(219, 217, 217);
}

.coin-dropdown-hidden {
  display: none;
}

.searched-short {
  margin-left: auto;
}

.coin-name {
  font-weight: 600;
}

.coin-dropdown-wrapper-hidden {
  display: none;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1.5rem;
}

.prev-button,
.next-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.prev-button:disabled,
.next-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-info {
  font-size: 1rem;
  color: #333;
}

.crypto-sec3 {
  display: flex;
  padding: 3rem;
  background-color: rgb(0, 82, 255);
  align-items: center;
  justify-content: center;
  
}

.crypto-flex > .crypto-item:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.cursor-pointer {
  cursor: pointer;
}

.crypto-24hvolume {
  display: none;
}
  
.crypto-chart {
  display: none;
}
  
.crypto-3-img {
  display: none;
}

.btn3 {
  width: 150px;
  height: 60px;
  margin: 0;
}

.h2-white {
  color: white;
  font-weight: 600;
}

.crypto3-flex {
  display: flex;
  gap: 1rem;
  align-items: center;

}
/* Media Queries */

@media screen and (min-width: 600px) {
  .crypto-change {
    display: block;
  }

  .btn3 {
    align-self: start;
    
  }

  .crypto-change-negative {
    display: block;
  }

  .crypto-item {
    grid-template-columns: 1.5fr 0.5fr 0.5fr;
  }

  .search-box {
    width: 550px;
  }

  .button {
    width: 150px;
    height: 60px;
    margin: 0;
    align-self: center;
  }

  .input-button {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .cryptos-subgrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .white-btn {
    align-self: center;
  }

  .praise-mobile {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
  }

  .praise-containers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .circle-coins {
    height: 300px;
    width: auto;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .search-container {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .btn3 {
    width: 200px;
  }

  .crypto-24hvolume {
    display: block;
  }

  .crypto-item {
    grid-template-columns: 1.5fr 0.5fr 0.5fr 0.5fr;
  }

  .search-box {
    margin-right: 5rem;
  }

  .search-title {
    margin-left: 2rem;
  }

  .jumpstart {
    display: none;
  }

  .hero {
    display: block;
    object-fit: cover;
  }

  .flex-home1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .main-title {
    max-width: 400px;
    text-align: left;
    font-size: 40px;
    line-height: 56px;
  }

  .main-desc {
    max-width: 400px;
    font-size: 20px;
  }

  .home-section1 {
    margin: 3rem;
    border: none;
  }

  .home-section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
  }

  .cryptos-subgrid {
    grid-template-columns: 1fr 1fr;
  }
  
  .second-title {
    font-size: 42px;
    line-height: 50px;
  }

  .second-desc {
    font-size: 24px;
  }

  .second-btn {
    width: 250px;
    align-self: flex-start;
  }

  .circle-coins {
    height: 600px;
    width: auto;
  }

  .div-flex1 {
    display: flex;
    flex-direction: row;
  }

  .flex {
    display: block;
  }

  .flex button {
    margin-top: 1rem;
  }

  .home-section5 {
    display: flex;
  }
  
  .retail {
    max-width: 375px;
    height: auto;
  }

  .homesec5 {
    flex-direction: row;
    gap: 3rem;
    margin: 3rem;
  }

  .button5 {
    align-self: start;
  }

  .h2 {
    font-size: 48px;
    font-weight: 500;
  }

  .number-flex {
    flex-direction: row;
  }

  .home-section9 {
    align-items: center;
  }

  .mrg-prblm {
    margin-right: 3rem;
  }

  .one-container {
    padding: 2.9rem;
  }

  .basics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    cursor: pointer;
  }

  .basic-title {
    font-size: 28px;
  }

  .btn3 {
    width: 400px;
    height: 60px;
  }

  .basic:hover .basic-title {
    color: blue;
}

  .basic-desc {
    font-size: 16px;
  }
  
  .home-section12  {
    display: flex;
    flex-direction: row-reverse;
  }

 .home-section12 {
    padding-bottom: 0;
  }

  .textalign {
    text-align: center;
  }

}











@media screen and (min-width: 1090px) {
  .crypto-item {
    grid-template-columns: 1.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  }

  .crypto3-flex {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .btn3 {
    align-self: flex-start;
  }
  .crypto-sec3 {
    gap: 2rem;
    padding: 4rem 2rem;
  }

  .crypto-3-img {
    display: block;
    width: 400px;
  }

  .crypto-chart {
    display: block;
  }

  .main-title {
    font-size: 48px;
  }

  .btn3 {
    width: 400px;
    height: 60px;
  }

  .main-desc {
    font-size: 24px;
  }

  .cryptos-subgrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .homesec3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .praise-mobile {
    margin: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .praise-containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .praise-title {
    font-size: 28px;
    line-height: 36px;
  }

  .praise-desc{
    font-size: 16px;
    line-height: 24px;
  }

  .one-container {
    padding: 2.9rem;
  }

  .basics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    cursor: pointer;
  }

  .basic-title {
    font-size: 28px;
  }

  .basic:hover .basic-title {
    color: blue;
  }

  .basic-desc {
    font-size: 16px;
  }

  .none {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    font-size: 14px;
    color: black;
    background-color: white;
    font-weight: 600;
    min-height: 66px;
    border-bottom: 1px solid rgba(91, 97, 110, 0.2);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 66px;
  }
  
  .rightmrg {
    margin-right: auto;
  }
  
  .none {
    display: block;
  }
  
  ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  } 

  .navbar a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    position: relative;
  }
  
  .navbar a:hover {
    border-bottom: 5px blue solid;
  }

  .navbar a {
    border-bottom: 5px solid white;
  }
  
  .flexs {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: default;
  }

  .dropdown {
    display: flex;
    gap: 5rem;
    position: absolute;
    top: 6rem; 
    left: 50%;
    transform: translateX(-50%) translateY(-20px); /* Start slightly off-screen */
    opacity: 0; /* Make it invisible */
    visibility: hidden; /* Prevent it from blocking space */
    width: max-content;
    height: max-content;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 2rem;
    transition: opacity 1s ease, transform 1s ease, visibility 0s ease 0.3s; /* Smooth transition */
  }
  
  /* On hover, show the dropdown */
  .navbar ul:hover .dropdown {
    opacity: 1; /* Make the dropdown visible */
    visibility: visible; /* Allow the dropdown to be visible */
    transform: translateX(-50%) translateY(0); /* Slide it into place */
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0s ease 0s; /* Visibility changes instantly */
  }

  .drop-title {
    font-size: 18px;
    font-weight: 600;
  }

  .drop-desc {
    font-size: 16px;
    color: rgb(91, 97, 110);
    font-weight: 400;
    max-width: 310px;
  }
  
  .drop-1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .drop-2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .drop-img {
    width: 30px;
  }

  .drop-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .drop-big-img {
    width: 350px;
    height: 170px;
    object-fit: cover;
    border-radius: 1rem;
  }

  .drop-3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .dark-mode-div {
    width: 35px; 
    height: 35px; 
    background-color: #f5f5f5;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
}

.dark-mode-div:hover {
  background-color: #e0e0e0; 
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 5px;
  flex: 1;
}

.search-bar i {
  margin-right: 5px;
  color: #888;
}

.profile-page {
  margin: 5rem;
  margin-left: 20rem;
}

.profile-header {
  display: flex;
  gap: 1rem;
}

.user-avatar {
  width: 65px;
  height: 65px;
}

.user-head {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.uid-container {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  color: gray;
}

.uid {
  color: black;
  font-size: 14px;
}

.username {
  font-size: 24px;
  font-weight: 600;
}

.header-balance {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  color: gray;
}

.balance-amount {
  color: black;
  font-size: 14px;
}

.profile-button {
  background-color: lightgray;
  width: fit-content;
  height: fit-content;
  border-radius: 0.5rem;
  border: none;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-button:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.edit-btn {
  margin-left: auto;
}

.estimated-balance {
  margin-top: 3rem;
  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.valutes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.balance-header {
  display: flex;
  gap: 1rem;
}

.deposit {
  margin-left: auto;
}

.favorite-coins {
  margin-top: 3rem;
  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 400px;
  overflow-y: scroll;
}

.favorite-coins-header {
  display: grid;
  grid-template-columns: 1fr 1.9fr;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid lightgray;
  font-weight: 600;
  padding-left: 3rem;
}

.favorite-coins-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.favorite-coin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.remove-from-favorites {
  background-color: #ff4d4d; /* Red background */
  border: none;
  color: white;
  font-size: 24px; /* Larger text for better visibility */
  width: 32px; /* Set width and height to make the button a square */
  height: 32px;
  border-radius: 50%; /* Circular button */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: auto;
}

.remove-from-favorites:hover {
  background-color: #ff1a1a; /* Darker red when hovered */
  transform: scale(1.1); /* Slightly enlarge the button on hover */
}

.remove-from-favorites:active {
  background-color: #e60000; /* Even darker red when clicked */
}


.user-activity {
  margin-top: 3rem;
  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 400px;
  overflow-y: scroll;
}

.activity-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid lightgray;
  padding-top: 1rem;
}

.avatar-background {
  background-color: lightslategrey;
  border-radius: 0.5rem;
}

.coin-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 0.5fr;
  cursor: pointer;
}

.coin-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 0.5rem;
}

.crypto-flex {
  display: flex;
  align-items: center;
}

.navbar-avatar {
  width: 40px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure the modal is above all other content */
}

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-title {
  text-align: center;
}

.modal-label {
  align-self: flex-start;
  margin-left: 3rem;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.form-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn {
    background-color: #007bff;
    color: white;
}

.save-btn:hover {
    background-color: #0056b3;
}

.close-btn {
    background-color: #dc3545;
    color: white;
}

.close-btn:hover {
    background-color: #c82333;
}

.modal-content button {
    width: 48%; /* Adjust the width to make them evenly spaced */
}



}

.buttons {
  display: flex;
  align-items:end;
  gap: 1rem;
}

.crypto-formated {
  font-size: 16px;
}

.current-balance {
  font-size: 22px;
  font-weight: 600;
}

.real-value {
  font-size: 17px;
}

.error-message {
  color: red;
  text-align: center;
}

.negative-percentage {
  color: red;
  font-weight: 600;
  font-size: 18px;
}
